@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*
===================== 
WebView scrollbar Styles
=====================
*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(219, 219, 219);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #cbcbcb;
}

/* .nav {
  display: flex;
  justify-content: space-between;
} */

.nav-item {
  margin-right: 1rem;
  border: 0;
  background-color: transparent;
}
.nav-item:hover {
  color: #0c0c0c;
  box-shadow: 0 0.125rem #0c0c0c;
  font-size: 1.125rem;
  border: 0;
  background-color: transparent;
}

/* sideSlide menu */

/* fixed top[5rem] right-0 w-full h-full z-50 grid place-items-center transition-all duration-500 ease-in-out transform scale-100 bg-black bg-opacity-30 */
.SideSlideWrap.active {
  visibility: visible;
  z-index: 990;
  right: 0%;
  transform: scale(1);
  font-style: italic;
  
}

